*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: Outfit;    /*Learnt to apply Google Fonts*/
    background-color: #d5e1ef;
    margin: 0;    
    text-align: center;
    padding-top: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
}

main {
    background-color: white;
    width: 90%;    /* considering mobile first design */
    max-width: 400px;
    /* margin: 0 auto; */
    border-radius: 10px;
    padding: 1em;
}

img {
    width: 100%;
    border-radius: 10px;
}

.container {
    padding: 0 1em;
}

h1 {
    color: #1f314f;
    font-size: 1.5em;
}

p {
    color: #68778d;
    font-size: 1em;
    letter-spacing: 0.2px;
    padding: 0.2em;

}

.attribution {
    margin-top: 20px;
}
